<div class="container text-center">
    <h1 class="mt-5">Welcome to Image Gallery Full Stack App</h1>
    <main class="container-fluid">
        <section>
            <p class="text-bold">
               Front End Created in Angular and ng Bootstrap
            </p>
            <p>
                Reactive forms and validators
            </p>
            <p>
                Services, Http, Http Interceptors and Auth Guards
            </p>
        </section>
        <section>
            <p>
              Back End Created in Django with Rest API Django Rest Framework  
            </p>
            <p>
                dj-auth Library
            </p>
            <p>
                Simple JWT Library
            </p>
        </section>
    </main>
</div>
