<main
class="mt-5 d-flex justify-content-center flex-column align-items-center">
<div *ngFor = "let error of errors" >
    <div *ngIf="errors.length > 0">
    <ngb-alert 
    [dismissible]="true" (closed)="close(error)"
     type="danger">
    
     {{error}}
   
        </ngb-alert>
    </div>

</div>
    <button class="btn btn-primary w-100" (click)="passShow()">
        Forgot Password? Change it
    </button>
    <form [formGroup]="changePass" (ngSubmit)="resetPassword()"
    class="mt-5 d-flex justify-content-center flex-column align-items-center w-100"
     *ngIf="forgotPassword">
        <div class="form-floating w-100">
            <input type="password" class="form-control"
             id="floatingPasswordNew" 
             formControlName="password1">
            <label for="floatingPasswordNew">New Password</label>
        </div>
        <div *ngIf="password1!.invalid && (password1!.dirty || password1!.touched)"
    class="alert alert-danger w-75">
    <div *ngIf="password1!.errors?.['required']">
      Password is required.
    </div>
    <div *ngIf="f1['password1'].errors!['minlength']">
        Password must be longer than 8 characters
    </div>
  </div>
        <div class="form-floating w-100">
            <input type="password" class="form-control"
             id="floatingPasswordconfirm" 
             formControlName="password2">
            <label for="floatingPasswordConfirm">Confirm Password</label>
        </div>
        <div *ngIf="password2!.invalid && (password2!.dirty || password2!.touched)"
    class="alert alert-danger w-75">
    <div *ngIf="password2!.errors?.['required']">
      Password is required.
    </div>
    <div *ngIf="f1['password2'].errors!['minlength']">
        Password must be longer than 8 characters
    </div>
  </div>
  <button type="submit" class="mt-5 btn btn-primary btn-submit">Set new Password</button>
</form>
</main>